<%- include('../partials/top-document') %> 
<link rel="stylesheet" href="css/forms.css">
<link rel="stylesheet" href="css/product.css">
</head>

<body>
  <%- include('../partials/header') %>

  <% if(errors.length) { %>
    <ul class="centered">
        <% errors.forEach(error => { %>
            <li class="user-message user-message--error"><%= error.msg %></li>
        <% }) %>
    </ul>
  <% } %>
  
  <form class="product-form" action="/login" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="form-control">
        <label for="title">Email</label>
        <input 
          type="text" 
          name="email" 
          id="email" 
          value="<%= old_value ? old_value.email : '' %>"
          class="<%= errors.find(el => el && el.param === 'email') ? 'invalid' : '' %>"
          >
    </div>
    <div class="form-control">
        <label for="image_url">Password</label>
        <input 
          type="password" 
          name="password" 
          id="password" 
          value="<%= old_value ? old_value.password : '' %>"
          class="<%= errors.find(el => el && el.param === 'password') ? 'invalid' : '' %>"
          >
    </div>

    <button class="btn" type="submit">Login</button>
  </form>

<%- include('../partials/footer') %>