<%- include('../partials/top-document') %> 
<link rel="stylesheet" href="css/forms.css">
<link rel="stylesheet" href="css/product.css">
</head>

<body>
  <%- include('../partials/header') %>
  
  <% if(errors.length) { %>
    <ul class="centered">
        <% errors.forEach(error => { %>
            <li class="user-message user-message--error"><%= error.msg %></li>
        <% }) %>
    </ul>
  <% } %>

  <form class="product-form" action="/restore-password" method="POST" novalidate>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="form-control">
        <label for="title">Email</label>
        <input type="email" name="email" id="email">
    </div>

    <button class="btn" type="submit">Restore Password</button>
  </form>

<%- include('../partials/footer') %>