<%- include('../partials/top-document') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../partials/header') %>

    <main>
        <% if(errors.length) { %>
            <ul class="centered">
                <% errors.forEach(error => { %>
                    <li class="user-message user-message--error"><%= error.msg ? error.msg : error %></li>
                <% }) %>
            </ul>
        <% } %>

        <form class="login-form" action="/signup" method="POST" novalidate>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input 
                    type="email" 
                    name="email" 
                    id="email" 
                    value="<%= old_value ? old_value.email : '' %>"
                    class="<%= errors.find(el => el && el.param === 'email') ? 'invalid' : '' %>"
                >
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input 
                    type="password" 
                    name="password" 
                    id="password" 
                    value="<%= old_value ? old_value.password : '' %>"
                    class="<%= errors.find(el => el && el.param === 'password') ? 'invalid' : '' %>"
                >
            </div>
            <div class="form-control">
                <label for="confirm_password">Confirm Password</label>
                <input 
                    type="password" 
                    name="confirm_password" 
                    id="confirm_password"
                    class="<%= errors.find(el => el && el.param === 'confirm_password') ? 'invalid' : '' %>"
                >
            </div>
            <button class="btn" type="submit">Sign up</button>
        </form>

        <div class="centered" style="margin-top: 20px">
            <a href="/restore-password">Forgot password?</a>
        </div>
    </main>
<%- include('../partials/footer') %>