<%- include('../partials/top-document') %> 
</head>

<body>
  <%- include('../partials/header') %>
  <h1>CART PAGE</h1> 

  <% if(products.length) { %>
    <ul>
      <% products.forEach(product => { %>
       <li>
         <%= product.product_id.title %> - <strong>Quantity: <%= product.quantity %></strong>
         <form action="/cart/remove" method="POST">
           <input type="hidden" name="id" value="<%= product.product_id._id %>">
           <button type="submit">Remove</button>
         </form>
        </li>
      <% }) %>
    </ul>
    <p>TOTAL: <%= totalValue %></p>

    <div>
      <form action="/create-order" method="POST">
        <input type="hidden" name="total_value" value="<%= totalValue %>">
        <button type="submit" class="btn">Order now</button>
      </form>
    </div>
  <% } else { %>
    <h2>Cart is empty!!!!!</h2>
  <% } %> 

<%- include('../partials/footer') %>