<%- include('../partials/top-document') %> 
<link rel="stylesheet" href="/css/orders.css">
</head>

<body>
  <%- include('../partials/header') %>
  <h1>ORDERS PAGE</h1> 

  <% if(orders.length) { %>
    <% orders.forEach(order => { %>
      <div style="padding: 15px 0; border-bottom: 2px solid black">
        <ul class="orders">
          <li class="orders__item">
            <h1>Order - # <%= order._id %></h1>
            <ul class="orders__products">
              <% order.products.forEach(product => { %>
                <li class="orders__products-item"><%= product.product.title %> (<%= product.quantity %>)</li>
              <% }) %>
            </ul>
            <a href="/order/<%= order._id %>" target="_blank">Download invoice pdf</a>
          </li>
        </ul>
        <p style="margin-left: 15px"><strong>TOTAL:</strong> <%= order.total_value %> $</p>
      </div>
    <% }) %>
  <% } else { %>
    <h2>No orders found!</h2>
  <% } %>
  
<%- include('../partials/footer') %>