<%- include('../partials/top-document') %> 
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../partials/header') %>
  <main>
    <% if (products.length) { %>
        <div class="grid">
            <% products.forEach(product => { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"><%= product.title %></h1>
                    </header>
                    <div class="card__image">
                        <img src="<%= product.image_url %> " alt="<%= product.title %>__image">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price"><%= product.price %> €</h2>
                        <p class="product__description"><%= product.description %></p>
                    </div>
                    <div class="card__actions">
                        <a href="/products/<%= product._id %>" class="btn">Detail</a>
                        <% if(user) { %>
                            <%- include('../partials/add-to-cart', { product }) %>
                        <% } %>
                    </div>
                </article>
            <% }) %>
        </div>
        <% if(showPagination) { %>
            <div class="centered">
                <% if(currentPage !== 1 && currentPage > 2) { %>
                    <a href="?page=1">1</a>
                    <span>...</span>
                <% } %>

                <% if(nextPage <= lastPage) { %>
                    <span style="color: red; font-weight: bold; font-size: 22px"><%= currentPage %></span>
                    <a href="?page=<%= nextPage %>"><%= nextPage %></a>
                <% } else { %>
                    <a href="?page=<%= currentPage - 1 %>"><%= currentPage - 1 %></a>
                    <span style="color: red; font-weight: bold; font-size: 22px"><%= currentPage %></span>
                <% } %>

                <% if(currentPage !== lastPage && currentPage <= lastPage - 2) { %>
                    <span>...</span>
                    <a href="?page=<%= lastPage %>"><%= lastPage %></a>
                <% } %>
            </div>
        <% } %>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>
  </main>

<%- include('../partials/footer') %>